.each-record {
  padding: 24px 18px;
  display: flex;
  color: $normal-text;
  text-decoration: none;
  .record-content {
    flex-grow: 1;
    padding: 0 16px;
    &-details {
      color: $placeholder;
      > span {
        font-size: $small-text-size;
      }
    }
    &-amount {
      font-size: $main-text-size;
    }
  }
}
