.day-record {
  border-radius: 8px;
  margin-bottom: 8px;
  background: white;
  color: $main-text;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  > .header {
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
    span {
      font-size: $main-text-size;
    }
    .amount-section {
      display: flex;
      align-items: center;
      color: $normal-text;
      > span {
        font-size: $normal-text-size;
      }
    }
  }
}
